# This is a basic workflow to help you get started with Actions

name: Coverage

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Create coverage file in the server directory
    - name: genearte-coverage-file
      working-directory: server
      run: |
        go test -race -covermode atomic -coverprofile=coverage/server-coverage.cov ./... 
  
    # Runs code coverage in the server directory
    - name: actions-goveralls  
      uses: shogo82148/actions-goveralls@v1.4.0
      with:
        path-to-profile: coverage/server-coverage.cov
        working-directory: server 
